<div class="container">
  <section>
    <h1 class="demo__title">angular2-stretchy demo</h1>
    <div class="demo__github-button">
      <a class="github-button" href="https://github.com/tudorgergely/angular2-stretchy" data-icon="octicon-star"
         data-style="mega"
         data-count-href="/tudorgergely/angular2-stretchy/stargazers"
         data-count-api="/repos/tudorgergely/angular2-stretchy#stargazers_count"
         data-count-aria-label="# stargazers on GitHub"
         aria-label="Star tudorgergely/angular2-stretchy on GitHub">Star</a>
    </div>
    <hr>
    <h4>Make any input stretch to its content</h4>
  </section>
  <section>
    <h4>Basic example</h4>

    <input stretchy type="text"/>
  </section>
  <section>
    <h4>Example with min-width 70px</h4>

    <input stretchy type="text" style="min-width: 70px;"/>
  </section>
  <section>
    <h4>Example with max-width 50% and min-width 50px</h4>

    <input stretchy type="text" style="max-width: 50%; min-width: 50px;"/>
  </section>
  <section>
    <h4>Example with bootstrap</h4>

    <input stretchy class="form-control" type="text" style="min-width: 100px;"/>
  </section>
  <hr>
  <section>
    <i>Type in the above inputs and see the *magic*</i>
  </section>
  <section>
    <h5>Copyright © Tudor Gergely 2017. MIT Licensed.</h5>
  </section>
</div>
